config ASIC
    bool 
    default y 
   
config TOUCH_IRQ_PIN
    int
    default 41

config LCD_PWM_BACKLIGHT_INTERFACE_NAME
    string
    default "pwm2"

config LCD_PWM_BACKLIGHT_CHANEL_NUM
    int
    default 4

config LCD_BACKLIGHT_CONTROL_PIN
    int
    default 1
    
config RGBLED_CONTROL_PIN
    int
    default 32  

config PA_EN_LEVEL
    bool "Set to true if the PA level is high when the PA_EN pin is high."
    default y

config PA_EN_PIN
    int "The pin number for the PA_EN control."
    default 26
